@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100%;
  background-color: #f3f3f3;
  font-family: "Montserrat", sans-serif;
  color: rgb(40, 40, 40);
}

.container {
  width: 70%;
  margin: auto;
  height: 100dvh;
}
.main {
  display: flex;
  margin: 4rem 0;
  gap: 5rem;
  padding: 1rem;
}

.nav {
  width: 100%;
  height: 10dvh;
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;

  > h6 {
    font-size: 18px;
  }
}

.title {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
}

.desc-side {
  height: 70dvh;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 20px;

  > h2 {
    font-size: 42px;
  }
  > h4 {
    font-size: 21px;
  }
  > ul > li {
    list-style-type: decimal;
  }
}
.app-side {
  height: 70dvh;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;

  > h2 {
    font-size: 21px;
    padding-bottom: 3rem;
  }
}
.boxes {
  display: flex;
  gap: 0.8rem;
}

.box {
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(100, 100, 100);
  border-radius: 4px;
  transition: 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.box-white {
  background-color: #fff;
}

.box-black {
  background-color: #000;
}

.box-green {
  background-color: green;
}

.box-blue {
  background-color: blue;
}

.box-red {
  background-color: red;
}

.box-white {
  background-color: #fff;
}

@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
    gap: 0;
  }
  .app-side {
    width: 100%;
  }
  .desc-side {
    width: 100%;
  }
}
